// .box {
//   width: 100%;
//   max-width: 35rem;
//   height: 200px;
//   border: 2px solid #333;
// }

// .left-side {
//   margin-left: 0rem;
//   border-top-left-radius: 2rem;
//   margin-top: 1rem;
//   margin-bottom: 1rem;
// }

// .right-side {
//   padding: 1rem;
//   min-height: 100vh;
//   position: relative;
//   left: -4rem;
//   background: #515139;
//   margin: 0rem 0;
//   border-radius: 4rem;
//   width: 100%;
//   margin-top: 12px;
//   min-width: 1440px;
// }

$drkgrn: #79ae92;
$lggrn: #8aae9b;
@mixin bg-drkgrn {
  background: #79ae92;
}

.box {
  &.summary {
    width: 100%;
    padding: 1rem 3rem 3rem;
    // display: flex;
    // .left {
    //   display: flex;
    //   flex-direction: column;
    //   gap: 1rem;
    //   padding: 0.4rem;
    //   &.active {
    //     background: #fff;
    //     border-top: 1px solid red;
    //     border-bottom: 1px solid red;
    //     position: relative;
    //     &:before {
    //       content: "";
    //       position: absolute;
    //       right: -13px;
    //       top: 0;
    //       height: 31px;
    //       width: 1rem;
    //       z-index: 1;
    //       background: #fff;
    //     }
    //   }

    //   .selector {
    //     display: flex;
    //     align-items: center;

    //     &.active {
    //       background: #fff;
    //       border-top: 1px solid red;
    //       border-bottom: 1px solid red;
    //     }
    //   }
    // }

    .right {
      position: relative;
      width: 100%;
      height: 20rem;
      background: #fff;
      border-top: 1px solid red;
      border-bottom: 1px solid red;
      border-left: 1px solid red;
    }
  }

  &.chat-list-box {
    border: 1px solid $drkgrn;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    cursor: pointer;
    transition: all 0.01s ease-in-out;

    &:hover {
      // background: #8a2c2c;
      background: $drkgrn;
      border: 2px solid $drkgrn;
      transition: all 0.01s ease-in-out;
    }

    .desc {
      text-align: left;
    }
  }
}

.tab-wrap {
  display: flex;
  width: 100%;
}

.right-side {
  padding: 0 !important;
}

//chat
.chat-listbox {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  width: 400px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  box-shadow: -10px 2px 21px 0px rgba(54, 45, 45, 0.66);
  -webkit-box-shadow: -10px 2px 21px 0px rgba(54, 45, 45, 0.66);
  -moz-box-shadow: -10px 2px 21px 0px rgba(54, 45, 45, 0.66);
  &:hover {
    background: #f5f5f5;
  }
}

.chat-detail {
  position: absolute;
  border: 1px solid $drkgrn;
  background: $lggrn;
  width: calc(100% - 2rem);
  height: 100%;
  z-index: 1;

  .usr-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid gray;
    background: #fff;

    .info-box {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    .back {
      // position: absolute;
      // right: 0;
      // top: 0;
    }
  }

  .chat-wrap {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 10rem;
    margin-bottom: 10rem;
    overflow: auto;
    max-height: 100%;
    height: 27rem;

    .usr-chat-box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      padding: 0 1rem;
      // position: absolute;
      // top: 0;
      // background: #fff;
    }
    .bg {
      background: #fff;
      width: 100%;

      flex-shrink: 1;
      flex-grow: 1;
      text-align: left;
      padding: 10px 1rem !important;

      &.sent {
        text-align: right;
      }
    }
  }
  .textarea {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2rem);
    max-width: 25rem;
    max-height: 15rem;
    flex-direction: column;
    padding: 1rem 0;
    background: #fff;

    textarea {
      height: 10rem;
      margin-bottom: 1rem;
    }
  }
}

.ant-drawer-content-wrapper {
  width: 500px !important;
}

.closeBtn {
  position: absolute;
  left: -4rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
}

.summ-wrap {
  &.main {
    display: flex;
    justify-content: space-around;
    max-width: 38rem;
    width: calc(100% - 4rem);
    margin: 2rem auto;
    padding: 10px;
    cursor: pointer;

    .tit {
      font-size: 1.2rem;
      border: 1px solid #79ae92;
      padding: 0rem 0px 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .txt {
      font-weight: 600;
      font-size: 1rem;
      background-color: #79ae92 !important;
      padding: 0.8rem 0;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    .num {
      font-size: 1.2rem;
    }
    div {
      &:hover {
        background: #333 !important;
        color: #fff !important;
      }
    }
  }
}

.topsoldbox {
  border: 1px solid $drkgrn;
  margin-left: 1rem;
  padding: 0;

  .tit {
    font-size: 1.2rem;
    padding: 1rem;
    @include bg-drkgrn;
  }
  .list {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 10px;
  }
}

.mail-reply-wrap {
  .mail-body {
    margin: 1rem 0 2rem;
    white-space: pre-wrap;
  }
}
