$drkgrn: #79ae92;
$lggrn: #8aae9b;
$fff: #ffffff;
$ccc: #cccccc;

@mixin bg-drkgrn {
  background: #79ae92;
}

.wrapp {
  min-height: 100vh;
  padding: 0;
  height: calc(100vh - 20px);
  overflow: auto;
  justify-content: space-around;
}

.ant-layout-content {
  margin: 0 !important;
  background: #001529;
  padding: 1rem 4rem;
}

// component - box
.box {
  padding: 2rem;
  &.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  &.summary {
    width: 100%;
    padding: 1rem 3rem 3rem;

    .right {
      position: relative;
      width: 100%;
      height: 20rem;
      background: #fff;
      border-top: 1px solid red;
      border-bottom: 1px solid red;
      border-left: 1px solid red;
    }
  }

  &.cs-msg-summary {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    .tit {
      text-align: left;
    }
  }

  &.chat-list-box {
    border: 1px solid $drkgrn;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    cursor: pointer;
    transition: all 0.01s ease-in-out;

    &:hover {
      // background: #8a2c2c;
      background: $drkgrn;
      border: 2px solid $drkgrn;
      transition: all 0.01s ease-in-out;
    }

    .desc {
      text-align: left;
    }
  }
}

.tab-wrap {
  display: flex;
  width: 100%;
}

.right-side {
  padding: 0 !important;
}

// chat
.chat-listbox {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  width: 400px;
  height: 100vh;
  z-index: 999;
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  box-shadow: -10px 2px 21px 0px rgba(54, 45, 45, 0.66);
  -webkit-box-shadow: -10px 2px 21px 0px rgba(54, 45, 45, 0.66);
  -moz-box-shadow: -10px 2px 21px 0px rgba(54, 45, 45, 0.66);
  &:hover {
    background: #f5f5f5;
  }
}

.chat-detail {
  position: absolute;
  border: 1px solid $drkgrn;
  background: $lggrn;
  width: calc(100% - 2rem);
  height: 100%;
  z-index: 1;

  .usr-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid gray;
    background: #fff;

    .info-box {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  }

  .chat-wrap {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 10rem;
    margin-bottom: 10rem;
    overflow: auto;
    max-height: 100%;
    height: 27rem;

    .usr-chat-box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      padding: 0 1rem;
    }
    .bg {
      background: #fff;
      width: 100%;
      flex-shrink: 1;
      flex-grow: 1;
      text-align: left;
      padding: 10px 1rem !important;

      &.sent {
        text-align: right;
      }
    }
  }

  .textarea {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2rem);
    max-width: 25rem;
    max-height: 15rem;
    flex-direction: column;
    padding: 1rem 0;
    background: #fff;

    textarea {
      height: 10rem;
      margin-bottom: 1rem;
    }
  }
}

.ant-drawer-content-wrapper {
  width: 500px !important;
}

.closeBtn {
  position: absolute;
  left: -4rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  cursor: pointer;
}

// 메인 - 재고 요약보드
.summ-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 120rem;
  width: calc(100% - 4rem);
  margin-bottom: 1rem;
  padding: 10px;
  cursor: pointer;
  .tit {
    font-size: 1.05rem;
  }
  .num {
    font-size: 1rem;
  }
  div {
    &:hover {
      background: #333 !important;
      color: #fff !important;
    }
  }

  &.main {
    display: flex;
    justify-content: space-around;
    max-width: 38rem;
    width: calc(100% - 4rem);
    margin: 2rem auto;
    padding: 10px;
    cursor: pointer;

    .tit {
      font-size: 1.2rem;
      border: 1px solid $drkgrn;
      padding: 0rem 0px 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .txt {
      font-weight: 600;
      font-size: 1rem;
      background-color: $drkgrn !important;
      padding: 0.8rem 0;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    .num {
      font-size: 1.2rem;
    }
    div {
      &:hover {
        background: #333 !important;
        color: #fff !important;
      }
    }
  }
}

.topsoldbox {
  border: 1px solid $drkgrn;
  margin-left: 1rem;
  padding: 0;

  .tit {
    font-size: 1.2rem;
    padding: 1rem;
    @include bg-drkgrn;
  }

  .list {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 10px;
  }
}

// 메인 - 메일 메시지 영역
.main-mailbox {
  .mail-sect {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: auto 4% auto;
    justify-content: left;
    padding: 0.8rem 1rem;
    gap: 0 3rem;
    border: 1px solid #ddd;
  }
  .mail-desc {
    width: 100%;
  }
}
//////메인 끝.

///
.step-wrap {
  min-width: 200px;
  .inner {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    &.step1 {
      gap: 3px;

      .desc {
        margin-bottom: 0.6rem;
      }
      .note {
        font-size: 0.7rem;
        font-weight: 500;
      }

      .input-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.21;
      }
    }
    .desc {
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
    }
    .note {
      font-size: 0.7rem;
      font-weight: 500;
    }
  }
}
.confirm-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}

.btn-no-stock {
  position: relative;
  &:after {
    content: "\002B";
    position: absolute;
    top: -11px;
    right: -14px;
    width: 18px;
    height: 20px;
    background: blue;
    font-size: 1rem;
  }
}

// cs setting
.cs-temp-wrap {
  .nav-wrap {
    margin: 2rem auto 1rem;
    padding: 1rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    a {
      font-size: 1.1rem;
      border: 1px solid;
      padding: 0.5rem 1rem;
    }
  }
}
// cs - 메일 답장 모달영역
.reply-container {
  .ant-modal-content {
    padding: 2rem !important;
    position: fixed;
    bottom: 1rem;
    max-width: 100rem;
    padding: 2rem !important;
    position: fixed;
    bottom: 1rem;
    max-width: 100rem;
    width: calc(80% - 3rem);
    left: 50%;
    transform: translateX(-50%);
    .mail-reply-wrap {
      .usr-info {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        padding-bottom: 1rem;
      }
      .mail-body {
        margin: 1rem 0 2rem;
        white-space: pre-wrap;
      }
    }
  }
}

.reply-wrap {
  padding: 1rem;
}
