// .box {
//   width: 100%;
//   max-width: 35rem;
//   height: 200px;
//   border: 2px solid #333;
// }

// .left-side {
//   margin-left: 0rem;
//   border-top-left-radius: 2rem;
//   margin-top: 1rem;
//   margin-bottom: 1rem;
// }

// .right-side {
//   padding: 1rem;
//   min-height: 100vh;
//   position: relative;
//   left: -4rem;
//   background: #515139;
//   margin: 0rem 0;
//   border-radius: 4rem;
//   width: 100%;
//   margin-top: 12px;
//   min-width: 1440px;
// }

.box {
  &.summary {
    display: flex;
    .left {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0.4rem;
      &.active {
        background: #fff;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          right: -13px;
          top: 0;
          height: 31px;
          width: 1rem;
          z-index: 1;
          background: #fff;
        }
      }

      .selector {
        display: flex;
        align-items: center;

        &.active {
          background: #fff;
          border-top: 1px solid red;
          border-bottom: 1px solid red;
        }
      }
    }

    .right {
      position: relative;
      width: 100%;
      height: 20rem;
      background: #fff;
      border-top: 1px solid red;
      border-bottom: 1px solid red;
      border-left: 1px solid red;
    }
  }

  &.chat-list-box {
    border: 1px solid red;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: #8a2c2c;
      transition: all 0.3s ease-in-out;
    }
  }
}

.tab-wrap {
  display: flex;
  width: 100%;
}

.right-side {
  padding: 0 !important;
}

.chat-listbox {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  width: 400px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  cursor: pointer;
  box-shadow: -10px 2px 21px 0px rgba(54, 45, 45, 0.66);
  -webkit-box-shadow: -10px 2px 21px 0px rgba(54, 45, 45, 0.66);
  -moz-box-shadow: -10px 2px 21px 0px rgba(54, 45, 45, 0.66);
  &:hover {
    background: #f5f5f5;
  }
}

.chat-detail {
  position: absolute;
  border: 1px solid rgb(150, 140, 140);
  width: calc(100% - 2rem);
  height: 100%;
  background: rgb(255, 236, 196);
  z-index: 1;

  .usr-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid gray;
    background: #fff;

    .info-box {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }

    .back {
      // position: absolute;
      // right: 0;
      // top: 0;
    }
  }

  .chat-wrap {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 10rem;
    margin-bottom: 10rem;
    overflow: auto;
    max-height: 100%;
    height: 27rem;

    .usr-chat-box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      padding: 0 1rem;
      // position: absolute;
      // top: 0;
      // background: #fff;
    }
    .bg {
      background: #fff;
      width: 100%;
      height: 100%;
      flex-shrink: 1;
      flex-grow: 1;
      text-align: left;
      padding: 0 1rem !important;

      &.sent {
        text-align: right;
      }
    }
  }
  .textarea {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 2rem);
    max-width: 25rem;
    max-height: 15rem;
    flex-direction: column;
    padding: 1rem 0;
    background: #fff;

    textarea {
      height: 10rem;
      margin-bottom: 1rem;
    }
  }
}

.ant-drawer-content-wrapper {
  width: 500px !important;
}

.closeBtn {
  position: absolute;
  left: -4rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
}
